.spice-btn{
	padding: $btn-padding;
	color: $btn-font-color;
	border: 1px solid transparent;
	border-radius: $btn-border-radius;
	text-align: center;
	// background-color: $btn-bg-color;
	cursor: pointer;
	@include inline-block();
	font-size: $btn-font-size;
	user-select: none;
	white-space: nowrap;

	&:hover{
		@include opacity(0.9);
	}
}

.spice-btn-block{
	display: block;
	width: 100%;

	+ .spice-btn-block{
		margin-top: 5px;
	}
}

.spice-btn-lg{
	padding: $btn-lg-padding;
	font-size: $btn-lg-font-size;
}

.spice-btn-sm{
	padding: $btn-sm-padding;
	font-size: $btn-sm-font-size;
}

.spice-btn-xs{
	padding: $btn-xs-padding;
	font-size: $btn-xs-font-size;
}

.spice-btn-default{
	border-color: $btn-default-border-color;
	background-color: $btn-default-bg-color;
}

.spice-btn-primary{
	background-color: $state-primary-font-color;
	color: #fff;
}

.spice-btn-success{
	background-color: $state-success-font-color;
	color: #fff;
}

.spice-btn-warning{
	background-color: $state-warning-font-color;
	color: #fff;
}

.spice-btn-error{
	background-color: $state-error-font-color;
	color: #fff;
}

.spice-btn-link{
	color: $link-font-color;
}
